@font-face {
  font-family: 'Open Sans Condensed Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@mixin regular {
  font-family: 'Open Sans Condensed Regular';
}

@mixin bold {
  font-family: 'Open Sans Condensed Bold';
}

@mixin light {
  font-family: 'Open Sans Condensed Light';
}
