<section class="category-block">
  <header class="category-block__header">
    <div class="category-block__title">
      <h2 class="category-block__name">{{ title }}</h2>
      <span class="category-block__date"> {{ date }} </span>
    </div>
    <ul class="category-block__stats">
      <li class="category-block__stats-item" *ngFor="let item of stats">
        <span class="category-block__stats-item-amount">{{ item.value }}
          <img src="assets/icons/icon-{{ item.currency }}.svg" alt="{{ item.currency }}">
        </span>
        <span class="category-block__stats-item-title">{{ item.description }}</span>
      </li>
    </ul>
  </header>
  <div class="category-block__body">
    <ng-container *ngFor="let item of entriesData">
      <mk-entry-item [data]="item"></mk-entry-item>
    </ng-container>

    <mk-add-category-btn></mk-add-category-btn>
  </div>
</section>
