<section class="category-block">
  <header class="category-block__header">
    <div class="category-block__title">
      <h2 class="category-block__name">{{ title }}</h2>
      <span class="category-block__date"> {{ date }} </span>
    </div>
    <div class="category-block__stats">
      <div class="category-block__stats-item">
        <span class="category-block__stats-item-amount">20000<img alt="rub" src="assets/icons/icon-rub.svg"></span>
        <span class="category-block__stats-item-title">Получено</span>
      </div>
      <div class="category-block__stats-item">
        <span class="category-block__stats-item-amount">100000<img alt="rub" src="assets/icons/icon-rub.svg"></span>
        <span class="category-block__stats-item-title">Бюджет доходов</span>
      </div>
    </div>
  </header>
  <div class="category-block__body">
    <ng-container *ngFor="let item of data | async">
      <app-entry-item [data]="item"></app-entry-item>
    </ng-container>

    <app-add-category-btn></app-add-category-btn>
  </div>
</section>
