<header class="mk-header">
  <div class="mk-header__container">
    <div class="mk-header__title-container">
      <img class="mk-header__icon" src="../assets/icons/icon-wallet.svg" alt="header-n">
      <h1 class="mk-header__title">Money Keeper</h1>
    </div>
    <div class="mk-header__user">----WIP----</div>
  </div>
</header>

<main class="mk-main">
  <div class="mk-main__container">
    <section class="mk-main__categories">
      <mk-category [title]="'Доходы'" [category]="'income'" [entriesData]="entriesData"></mk-category>
    </section>
    <section class="mk-main__history"></section>
  </div>
</main>
