<header class="app-header">
  <div class="app-header__container">
    <div class="app-header__title-container">
      <img alt="header-icon" class="app-header__icon" src="../assets/icons/icon-wallet.svg">
      <h1 class="app-header__title">Money Keeper</h1>
    </div>
    <div class="app-header__user">----WIP----</div>
  </div>
</header>

<main class="app-main">
  <div class="app-main__container">
    <section class="app-main__categories">
      <app-category
        [category]="'income'"
        [data]="income$"
        [title]="'Доходы'"
      ></app-category>
    </section>
    <section class="app-main__history"></section>
  </div>
</main>
