@import '../../../styles/scss/global/global';

.entry-item {
  $root: &;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  height: 100%;

  border: 1px solid red;
  box-sizing: border-box;

  &__edit {
    display: none;
  }

  &:hover {
    #{$root} {
      &__edit {
        display: block;
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: red;
      }
    }
  }

  &__title {
    @include bold;
    font-size: $g-fz-medium;
    word-break: break-word;
    text-align: center;
    margin-bottom: 10px;
  }

  &__btn {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid blue;
  }

  &__value {
    @include bold;
    font-size: $g-fz-medium;
    margin-top: 10px;
  }
}
