@import '../../../styles/scss/global/global';

.entry-item {
  $root: &;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid blue;

  &__edit {
    display: none;
  }

  &:hover {
    #{$root} {
      &__edit {
        display: block;
        width: 5px;
        height: 5px;
        background-color: red;
      }
    }
  }

  &__title {
    @include regular;
    font-size: $g-fz-medium;
  }
}
